body {
	font-family:arial;
	text-align:left;
	background-color: white;
	color: #OOO;
	margin: 0px;
	overflow: hidden;

}

#encabezado{

	font-size: 26px;
}
#encabezado2{

	font-size: 18px;
	z-index: 110;
}

#titulo{

	font-size: 20px;
}

#contenedorPrincipal{
	height: 80%;
}
#superior{
	width: 60%;
	margin-bottom: 200px;
}
#inferior{
	color: #000;
	width: 60%;
	font-size: 12px;
	vertical-align: bottom;
	margin-top: 450px;
}
#inferior2{
	color: #fff;
	width: 60%;
	font-size: 12px;
	margin-top: 610px;
}
#info {
	color: #fff;
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: left;
	z-index: 100;
	display: block;
}

